In [3]:
!pip install mysql
!pip install mysql.connector
!pip install mysql-connector-python
import mysql
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="naresh@26",
  auth_plugin="mysql_native_password"
)

mycursor = mydb.cursor()
mycursor.execute("DROP DATABASE mulesoftdb")
mycursor.execute("CREATE DATABASE mulesoftdb")

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="naresh@26",
  auth_plugin="mysql_native_password",
  database = "mulesoftdb"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE movies (movies VARCHAR(255), actor VARCHAR(255), actress VARCHAR(255), director VARCHAR(255), year INTEGER)");

sql = "INSERT INTO movies (movies, actor, actress, director, year) VALUES (%s, %s, %s, %s, %s)"

val = ("Angrezi Medium", "Irrfan Khan", "Kareena Kapoor", "Homi Adajania", 2020)
mycursor.execute(sql, val)
print(mycursor.rowcount, "record inserted.")

val = ("Love Aaj Kal", "Kartik Aaryan", "Sara Ali Khan", "Imtiaz Ali", 2020)
mycursor.execute(sql, val)
print(mycursor.rowcount, "record inserted.")

val = ("Hacked", "Mohit Malhotra", "Hina Khan", "Vikram Bhatt", 2020)
mycursor.execute(sql, val)
mydb.commit()

print(mycursor.rowcount, "record inserted.")

mycursor.execute("SELECT * FROM movies")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

mycursor.execute("SELECT actor FROM movies where year = 2020")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

Requirement already satisfied: mysql in c:\users\naresh\anaconda3\lib\site-packages (0.0.3)
Requirement already satisfied: mysqlclient in c:\users\naresh\anaconda3\lib\site-packages (from mysql) (2.0.3)
Requirement already satisfied: mysql.connector in c:\users\naresh\anaconda3\lib\site-packages (2.2.9)
Requirement already satisfied: mysql-connector-python in c:\users\naresh\anaconda3\lib\site-packages (8.0.26)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\naresh\anaconda3\lib\site-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in c:\users\naresh\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' at line 1